<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Zawaj{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            'bootstrap/css/bootstrap.min.css'
            'css/general/general.css'
            'font-awesome/css/font-awesome.min.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>


    <div class="container-fluid">
        
        
        <header>
        <div id="cssmenu">
            <div class="logo">
                <a>
                    <img alt="Zawaj" src="{{ asset('images/general/logo.png') }}"></img>
                </a>
            </div>
            <ul>
                <li class='active'><a  href="{{ path('zawaj_fiches_candidat_accueil') }}"><span>ACCUEIL</span></a></li>
                <li><a  href="{{ path('zawaj_fiches_candidat_fiches_recus', {'typeSexe': 'Homme', 'id': 0}) }}"><span>FICHES RECUES</span></a></li>
                <li><a  href="{{ path('zawaj_fiches_candidat_fiches_inscrits', {'typeSexe': 'Homme', 'id': 0}) }}"><span>FICHES INSCRITS</span></a></li>
                <li><a  href="{{ path('zawaj_fiches_candidat_fiches_archives', {'typeSexe': 'Homme', 'id': 0}) }}"><span>RENCONTRES</span></a></li>
                <li><a  href="{{ path('zawaj_fiches_candidat_fiches_archives', {'typeSexe': 'Homme', 'id': 0}) }}"><span>FICHES ARCHIVEES</span></a></li>
                <li class='last'><a  href="{{ path('zawaj_fiches_candidat_fiches_archives', {'typeSexe': 'Homme', 'id': 0}) }}"><span>STATISTIQUE</span></a></li>
            </ul
        </div>
            <div class="sous-menu"></div>
        </header>
        
        <div id="contenu" class="container">
            {% block body %}

            {% endblock %}
        </div>
    </div>
    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        {#<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>#}
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>
    {% endblock %}
    </body>



</html>


