{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@ZawajFichesCandidatBundle/Resources/public/css/fichesCandidat.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html"/>

    {% endstylesheets %}
{% endblock %}

    {% block body %}
        <div class="layout-ruban">
            <div id="fond">
                <div class="ruban">
                    <h2>FICHES RECUS <small> HOMME/FEMME</small></h2>
                </div>
                <div class="ruban_gauche"></div>
                <div class="ruban_droit"></div>
            </div>
        </div>




            {#Choix visualisation fiches hommes ou femmes#}
            <div class="btnSexe">
                <div class="btn-group" role="group" aria-label="choixSexe">
                    <a href="{{ path('zawaj_fiches_candidat_fiches_recus', {'typeSexe': 'Homme' }) }}"><button type="button" class="btn btn-primary" {% if typeSexe == "Homme" %}btn-success{% endif %}">Hommes <span class="badge">2</span></button></a>
                    <a href="{{ path('zawaj_fiches_candidat_fiches_recus', {'typeSexe': 'Femme' }) }}"><button type="button" class="btn btn-primary" {% if typeSexe == "Femme" %}btn-success{% endif %}">Femmes <span class="badge">1</span></button></a>
                </div>
            </div>


        <div class="jumbotron">

            <table id="tabrecus" class=" table table-condensed table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Head 1</th>
                    <th>Head 2</th>
                    <th>Head 3</th>
                    <th>Head 4</th>
                    <th>Head 5</th>
                    <th>Head 6</th>
                    <th>Head 7</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>id</td>
                    <td>Bounoua</td>
                    <td>Mohammed</td>
                    <td>0600000000</td>
                    <td>15 rue des abeilles</td>
                    <td>31000</td>
                    <td><a class="afficherCandidatInfos" href="javascript:void(0)" data-id="leCandidat.nom">voir<i class="fa fa-info-circle"></i></a>&nbsp;</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr><tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>
                <tr>
                    <td>id</td>
                    <td>nom</td>
                    <td>prenom</td>
                    <td>telephone</td>
                    <td>adresse</td>
                    <td>CP</td>
                    <td>action</td>
                </tr>

                </tbody>
            </table>
        </div>


        <div class="jumbotron">
            <div id="tabsIndex">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="active">
                        <a href="#civilite" role="tab" data-toggle="tab">
                            <i class="fa fa-server"></i> Civilite
                            </a>
                        </li>
                    <li >
                        <a href="#situationReligieuse" role="tab" data-toggle="tab">
                            <i class="fa fa-child"></i> Situation Religieuse
                            </a>
                        </li>
                    </ul>
                <!-- Tab panes -->
                 <div class="tab-content">
                    <div class="tab-pane fade active in" id="civilite">
                        <table id="tabrecus" class=" table table-condensed table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Head 1</th>
                                <th>Head 2</th>
                                <th>Head 3</th>
                                <th>Head 4</th>
                                <th>Head 5</th>
                                <th>Head 6</th>
                                <th>Head 7</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>id</td>
                                <td>Bounoua</td>
                                <td>Mohammed</td>
                                <td>0600000000</td>
                                <td>15 rue des abeilles</td>
                                <td>31000</td>
                                <td><a class="afficherCandidatInfos" href="javascript:void(0)" data-id="leCandidat.nom">voir<i class="fa fa-info-circle"></i></a>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr><tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>
                            <tr>
                                <td>id</td>
                                <td>nom</td>
                                <td>prenom</td>
                                <td>telephone</td>
                                <td>adresse</td>
                                <td>CP</td>
                                <td>action</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade active in" id="situationReligieuse">
                        dfhtdhdhtdhfth stht
                    </div>
        </div>
            </div>

        {#MODAL : fenêtres visualisation d'une fiche reçu#}
        <div class="modal fade" id="infoCandidat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}
 {% block javascripts %}
     {{ parent() }}

     {#filtrage tableau candidat #}
     <script>
         $(document).ready(function(){
             $('#tabrecus').DataTable({
                         "scrollY": "400px",
                         "scrollCollapse": true,
                         "paging": false,
                         "info": true
                     }
             );
         });
     </script>

{# Implémentation des infos du candidat dans le modal #}
<script type="text/javascript">
    $(document).ready(function() {
        $('a.afficherCandidatInfos').click(function(e) {
            {
                $('.modal-title', '#infoCandidat').html("NOM");
                $('.modal-body', '#infoCandidat').html('' +
                        '<div id="tabsIndex">'+
                        '<ul class="nav nav-pills nav-justified" role="tablist">'+
                        '<li class="active">'+
                        '<a href="#civilite" role="tab" data-toggle="tab">'+
                        '<i class="fa fa-server"></i> Civilite'+
                        '</a>'+
                        '</li>'+
                        '<li >'+
                        '<a href="#situationReligieuse" role="tab" data-toggle="tab">'+
                        '<i class="fa fa-child"></i> Situation Religieuse'+
                        '</a>'+
                        '</li>'+
                        '<li >'+
                        '<a href="#informationsComplementaires" role="tab" data-toggle="tab">'+
                        '<i class="fa fa-child"></i> Informations Complementaires'+
                        '</a>'+
                        '</li>'+
                        '<li >'+
                        '<a href="#profilRecherchee" role="tab" data-toggle="tab">'+
                        '<i class="fa fa-child"></i> Profil recherchée'+
                        '</a>'+
                        '</li>'+
                        '</ul>'+
                            <!-- Tab panes -->
                        ' <div class="tab-content">'+
                        '<div class="tab-pane fade active in" id="civilite">'+
                            //CIVILITE
                        '<div class="tabOnglet"> '+
                        '<h4>CIVILITE</h4><hr><br>'+
                        '<strong>Nom :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Prenom :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Date de naissance :</strong> xxxxx <br><br>'+
                        '<strong>Adresse :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>CP :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Ville :</strong> xxxxx <br><br>'+
                        '<strong>Type d\'habitation :</strong> xxxxx <br><br>'+
                        '<strong>Telephone :</strong> xxxxx <br><br>'+
                        '</div>'+
                            //SITUATION PROFESSIONNELLE
                        '<div class="tabOnglet"> '+
                        '<h4>SITUATION PROFESSIONNELLE</h4><hr><br>'+
                        '<strong>Situation Professionnelle :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Recherche un emploi :</strong> xxxxx <br><br>'+
                        '<strong>Profession :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Domaine de profession :</strong> xxxxx <br><br>'+
                        '<strong>Est etudiant :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Niveau d\'étude :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Domaine d\'étude :</strong> xxxxx <br><br>'+
                        '<strong>niveau de Français :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>niveau d\'arabe :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>autre langues parlées :</strong> xxxxx <br><br>'+
                        '</div>'+
                        '<hr />'+
                            // SITUATION ADMINISTRATIVE
                        '<div class="tabOnglet"> '+
                        '<h4>SITUATION ADMINISTRATIVE</h4><hr><br>'+
                        '<strong>Est née en France :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Date d\'arrivée en France :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Date d\'arrivée à Toulouse :</strong> xxxxx <br><br>'+
                        '<strong>Pays d\'origine :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Pays de nationalité :</strong> xxxxx <br><br>'+
                        '<strong>Type de papier :</strong> xxxxx <br><br>'+
                        '<strong>Type de mariage souhaité :</strong> xxxxx <br><br>'+
                        '</div>'+
                            // SITUATION SOCIALE
                        '<div class="tabOnglet"> '+
                        '<h4>SITUATION SOCIALE</h4><hr><br>'+
                        '<strong>Est célibataire :</strong> xxxxx <br><br>'+
                        '<strong>A déja été marié :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>A déja été marié civilement :</strong> xxxxx <br><br>'+
                        '<strong>Est divorcé :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Date divorce :</strong> xxxxx <br><br>'+
                        '<strong>Nombres d\'enfants :</strong> xxxxx <br><br>'+
                        '</div>'+
                        '<hr />'+
                        '</div>'+
                        '<div class="tab-pane fade active in" id="situationReligieuse">'+
                            // SITUATION RELIGIEUSE
                        '<div class="tabOnglet"> '+
                        '<h4> SITUATION RELIGIEUSE</h4><hr><br>'+
                        '<strong>Fait quotidiennement la prière :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Fait la prière depuis :</strong> xxxxx <br><br>'+
                        '<strong>Prière dans leur tranches horaires :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Fréquente les mosquées :</strong> xxxxx <br><br>'+
                        '<strong>Présence à la prière du vendredi :</strong> xxxxx <br><br>'+
                        '<strong>Est reconvertis :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Date reconvertion :</strong> xxxxx <br><br>'+
                        '<strong>Référence religieuse :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Methode d\'apprentissage de la religion :</strong> xxxxx <br><br>'+
                        '<strong>A l\'intention de faire la hijra :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Accepte la polygamie :</strong> xxxxx <br>'+
                        '</div>'+
                            // HABITUDES
                        '<div class="tabOnglet"> '+
                        '<h4> HABITUDES</h4><hr><br>'+
                        '<strong>Fumeur :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>A la volonté d\'arrêter de fumer :</strong> xxxxx <br><br>'+
                        '<strong>Consomme des stupéfiants :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Consomme de l\'alcool :</strong> xxxxx <br><br>'+
                        '<strong>Ecoute de la musique :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Regarde la télévision :</strong> xxxxx <br><br>'+
                        '</div>'+
                        '<hr />'+
                        '</div>'+
                        '<div class="tab-pane fade active in" id="informationsComplementaires">'+
                            // INFORMATIONS COMPLEMENTAIRES
                        '<div class="tabOnglet"> '+
                        '<h4> INFORMATIONS COMPLEMENTAIRES</h4><hr><br>'+
                        '<strong>Taille :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Poids :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>IMC :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Teint de peau :</strong> xxxxx <br><br>'+
                        {% if typeSexe == "Homme" %}
                        '<strong>Possede une barbe :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Souhaite laisser pousser la barbe :</strong> xxxxx <br><br>'+
                        '<strong>Se taille la barbe :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Se rase la barbe :</strong> xxxxx <br><br>'+
                        {% elseif typeSexe == "Femme" %}
                        '<strong>Porte le voile :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>A l\'intention de porter le voile :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;</strong>'+
                        '<strong>Date port du voile :</strong> xxxxx <br><br>'+
                        '<strong>Souhaite travailler :</strong> xxxxx <br><br>'+
                        '<strong>Commentaire sur le travail :</strong> xxxxx <br><br>'+
                        '<strong>Le tuteur est au courant de son inscription :</strong> xxxxx <br><br>'+
                        '<strong>Raison pour laquelle le tuteur n\'est pas au courant :</strong> xxxxx <br><br>'+
                        {% endif %}
                        '<strong>A des exigeances physiques :</strong> xxxxx <br><br>'+
                        '<strong>Présentation personnelle :</strong> xxxxx <br><br>'+
                        '<strong>Occupation du temps libre :</strong> xxxxx <br><br>'+
                        '<strong>Les attentes du mariage :</strong> xxxxx <br><br>'+
                        '<strong>Remarque :</strong> xxxxx <br><br>'+
                        '</div>'+
                            //Information supplémentaires femmes
                        {% if typeSexe == "Femme" %}
                        '<div class="tabOnglet"> '+
                        '<h4> Information supplémentaires</h4><hr><br>'+
                        '<strong>Nom du tuteur :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Prénom du tuteur :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Télephone du tuteur :</strong> xxxxx <br><br>'+
                        '<strong>Nom du représentant :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Prénom du représentant :</strong> xxxxx <br><br>'+
                        '<strong>Téléphone du représentant :</strong> xxxxx <br><br>'+
                        '<strong>Type de représentant :</strong> xxxxx }<br><br>'+
                        '</div>'+
                        {% endif %}
                            // INFORMATIONS RELATIVES AUX PARENTS
                        '<div class="tabOnglet"> '+
                        '<h4> INFORMATIONS RELATIVES AUX PARENTS</h4><hr><br>'+
                        '<strong>Nom du père :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Nom de la mère :</strong> xxxxx <br><br>'+
                        '<strong>Prénom du père :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Prénom de la mère :</strong> xxxxx <br><br>'+
                        '<strong>Téléphone du père :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Téléphone de la mère :</strong> xxxxx <br><br>'+
                        '<strong>Pratiquant  :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Pratiquante  :</strong> xxxxx <br><br>'+
                        '<strong>Type de relation :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Type de relation :</strong> xxxxx <br><br>'+
                        '<strong>Pays d\'origine du père :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Pays d\'origine de la mère :</strong> xxxxx <br><br>'+
                        '<strong>Ville d\'habitation du père :</strong> xxxxx &nbsp;&nbsp;&nbsp;&nbsp;'+
                        '<strong>Ville d\'habitation de la mère :</strong> xxxxx <br><br>'+
                        '</div>'+
                        '<hr />'+
                        '</div>'+
                        '<div class="tab-pane fade active in" id="profilRecherchee">'+
                            //PROFIL RECHERCHE
                        '<div class="tabOnglet"> '+
                        '<h4>PROFIL RECHERCHE</h4><hr><br>'+
                        '<strong>Age minimale recherchée :</strong> xxxxx <br><br>'+
                        '<strong>Age maximale recherchée :</strong> xxxxx <br><br>'+
                        '<strong>Origine recherchée :</strong> xxxxx <br><br>'+
                        '<strong>Accepte un(e) prétendant(e) divorcé(e) :</strong> xxxxx <br><br>'+
                        '<strong>Accete des enfants :</strong> xxxxx <br><br>'+
                        '<strong>Accepte des enfants, au maximun :</strong> xxxxx <br><br>'+
                        '<strong>Accepte des enfants, dont l\'âge est inférieur à :</strong> xxxxx <br><br>'+
                        '<strong>Tolère que le/la prétendant(e) fume :</strong> xxxxx <br><br>'+
                        '<strong>Recherche Taille  :</strong> xxxxx <br><br>'+
                        '<strong>Recherche Poids  :</strong> xxxxx <br><br>'+
                        '<strong>Recherche Teint  :</strong> xxxxx <br><br>'+
                        '<strong>Recherche Ville  :</strong> xxxxx <br><br>'+
                        '</div>'+
                        '</div>'+
                        '</div>'+
                        '</div>'
                );
            }
            $('#infoCandidat').modal();
        })
    });
</script>
 {% endblock %}
