{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@ZawajFichesCandidatBundle/Resources/public/css/fichesCandidat.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
{% endblock %}

    {% block body %}

        <div class="layout-ruban">
            <div id="fond">
                <div class="ruban">
                    <h2>ACCUEIL - <span class="db">Tableau de bord</span></h2>
                </div>
                <div class="ruban_gauche"></div>

            </div>
        </div>

        <div class="layout-dashboard">
            <div class="contenuDB">

                <div class="bloc1">
                    <div class="titreBloc">
                        <h3>GENERAL</h3>
                    </div>

                    <div class="contenuItem">
                        <div class="layout-item">
                            <img class="icone-gen" alt="Zawaj" src="{{ asset('images/general/profil-icone.png') }}"></img>
                            <span class="badge">4</span>

                            <div class="item-db">
                                <p>Nouveaux profils correspondants</p>
                            </div>
                        </div>


                        <div class="layout-item">
                            <img class="icone-gen" alt="Zawaj" src="{{ asset('images/general/profil-icone.png') }}"></img>
                            <span class="badge">2</span>
                            <div class="item-db">
                                <p>Nombre de rencontres a programmer</p>
                            </div>
                        </div>
                        <div class="cb"></div>

                    </div>

                </div>
                <hr>
                <div class="bloc1">
                    <div class="titreBloc">
                        <h3>FEMMES</h3>
                    </div>

                    <div class="contenuItem">
                        <div class="layout-item">
                            <img class="icone-gen" alt="Zawaj" src="{{ asset('images/general/profil-icone.png') }}"></img>
                            <span class="badge">6</span>

                            <div class="item-db">
                                <p>Fiches reçues non traitées</p>
                            </div>
                        </div>


                        <div class="layout-item">
                            <img class="icone-gen" alt="Zawaj" src="{{ asset('images/general/profil-icone.png') }}"></img>
                            <span class="badge">1</span>
                            <div class="item-db">
                                <p>Rendez-vous du jour</p>
                            </div>
                        </div>

                        <div class="layout-item">
                            <img class="icone-gen" alt="Zawaj" src="{{ asset('images/general/profil-icone.png') }}"></img>
                            <span class="badge">6</span>

                            <div class="item-db">
                                <p>Rendez-vous à venir</p>
                            </div>
                        </div>


                        <div class="layout-item">
                            <img class="icone-gen" alt="Zawaj" src="{{ asset('images/general/profil-icone.png') }}"></img>
                            <span class="badge">5</span>
                            <div class="item-db">
                                <p>Messages en attente de réponse</p>
                            </div>
                        </div>

                        <div class="cb"></div>

                    </div>

                </div>
                <hr>
                <div class="bloc1">
                    <div class="titreBloc">
                        <h3>HOMMES</h3>
                    </div>

                    <div class="contenuItem">
                        <div class="layout-item">
                            <img class="icone-gen" alt="Zawaj" src="{{ asset('images/general/profil-icone.png') }}"></img>
                            <span class="badge">4</span>

                            <div class="item-db">
                                <p>Fiches reçues non traitées</p>
                            </div>
                        </div>


                        <div class="layout-item">
                            <img class="icone-gen" alt="Zawaj" src="{{ asset('images/general/profil-icone.png') }}"></img>
                            <span class="badge">2</span>
                            <div class="item-db">
                                <p>Rendez-vous du jour</p>
                            </div>
                        </div>

                        <div class="layout-item">
                            <img class="icone-gen" alt="Zawaj" src="{{ asset('images/general/profil-icone.png') }}"></img>
                            <span class="badge">7</span>

                            <div class="item-db">
                                <p>Rendez-vous à venir</p>
                            </div>
                        </div>


                        <div class="layout-item">
                            <img class="icone-gen" alt="Zawaj" src="{{ asset('images/general/profil-icone.png') }}"></img>
                            <span class="badge">4</span>
                            <div class="item-db">
                                <p>Messages en attente de réponse</p>
                            </div>
                        </div>

                    </div>

                </div>




            </div>

        </div>

    {% endblock %}